<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="bg-pd">
  <section class="hero is-black is-bold has-background">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">
          ғaмιne
        </h1>
        <h2 class="subtitle">
          bla bla bla bg bg bg pd pd pd bla bla bla pd 
        </h2>
      </div>
    </div>
  </section>

      {{ content }}

    {% include footer.html %}
    </div>
  </body>

</html>
